<!DOCTYPE html>
<html>
    <head>
        <title>Shoebox Mail</title>
        <style>
            .shoe-body {
                font-family: sans-serif;
                display: flex;
                min-height: 100vh;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;
            }
            .shoe-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 960px;
                width: 100%;
            }
            #shoe-main-content {
                flex: 1;
                max-width: 960px;
                width: 100%;
            }
            .shoe-footer {
                font-size: 0.9em;
                max-width: 960px;
                width: 100%;
            }
            .shoe-footer h1 {
                font-size: 1.2em;
            }
            .shoe-table {
                width: 100%;
            }
        </style>
    </head>
    <body class="shoe-body">
        <header class="shoe-header">
            <p>
                Shoebox Mail
            </p>
            <nav>
                <a href="/">All Messages</a>
            </nav>
            <form action="{{ request.route_path('delete_all') }}"
                  method="post">
                <button type="submit" id="delete-all">
                    Delete All
                </button>
            </form>
        </header>
        <div id="shoe-main-content">
            {% block body %}{% endblock %}
        </div>
        <footer class="shoe-footer">
            <h1>Meta</h1>
            <p>
                [
                <strong>Current Page</strong>
                {% block currentpage %}{% endblock %}
                ]
            </p>
            {% block moremeta %}{% endblock %}
        </footer>
    </body>
</html>
