{% extends "/base.jinja2" %}

{% block body %}

<h1>All Messages</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>To</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        {% if messages|length > 0 %}
            {% for message in messages %}
                <tr>
                    <td>{{ message['to'] }}</td>
                    <td>
                        <a href="{{ request.route_path('single', msg_id=message['id'])}}">
                            {{ message['subject'] }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="2">No message</td></tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}
