{% extends "/base.jinja2" %}

{% block body %}

{% if to %}
  <h1>Messages to {{ to }}</h1>
  <form action="{{ request.route_path('delete_all') }}"
        method="post">
      <input type="hidden" name="to" value="{{ to }}"/>
      <button type="submit" id="delete-msgs-to">
          Delete messages to {{ to }}
      </button>
  </form>
{% else %}
  <h1>All Messages</h1>
{% endif %}

{% if messages|length > 0 %}
    <table class="shoe-table">
        <thead>
            <tr>
                <th>To</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.to }}</td>
                    <td>
                        <a href="{{ request.route_path('single', msg_id=message.id)}}">
                            {{ message.subject }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No message to display.</p>
{% endif %}

{% endblock %}

{% block currentpage %}
Messages to {{ to }}
{% endblock %}

{% block moremeta %}
<p>
    [
    <strong>Message Count</strong>
    {{ messages|length }}
    ]
</p>
{% endblock %}
