{% extends "/base.jinja2" %}

{% block body %}

<h1>All Messages</h1>

{% if messages|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>To</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message['to'] }}</td>
                    <td>
                        <a href="{{ request.route_path('single', msg_id=message['id'])}}">
                            {{ message['subject'] }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No message to display.</p>
{% endif %}

{% endblock %}

{% block currentpage %}
All Messages
{% endblock %}

{% block moremeta %}
<p>
    [
    <strong>Message Count</strong>
    {{ messages|length }}
    ]
</p>
{% endblock %}
