{% extends "/base.jinja2" %}

{% block body %}

<h1 id="message-subject">{{ message['subject'] }}</h1>

{% if 'html' in message %}
    <div id="message-content"
        class="message-content html-message">{{ message['html'] | safe }}</div>
{% else %}
    <div id="message-subject"
        class="message-content plain-text-message">{{ message['text'] }}</div>
{% endif %}

<form action="{{ request.route_path('delete_msg', msg_id=message['id']) }}"
      method="post">
    <button type="submit" id="delete-message">Delete Message</button>
</form>

{% endblock %}

{% block currentpage %}
Single Message
{% endblock %}

{% block moremeta %}
<p>
    [
    <strong>Subject</strong>
    {{ message['subject'] }}
    ]
</p>
<p>
    [
    <strong>To</strong>
    {{ message['to'] }}
    ]
</p>
<p>
    [
    <strong>From</strong>
    {{ message['from'] }}
    ]
</p>
<p>
    [
    <strong>HTML</strong>
    {{ message['html'] }}
    ]
</p>
<p>
    [
    <strong>Text</strong>
    {{ message['text'] }}
    ]
</p>
{% endblock %}
